#board {
  padding-top: 3em;
  text-align: center;
  /* background-color: lightgray; */
}
div > div {
  float: left;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.row {
  clear: both;
  margin: auto;
  width: 302px;
  
  /* margin: 10em; */
  /* margin-left: 20em; */
}
.top {
  border-bottom: 1px solid red;
  /* border-top: 1px solid black; */
}
.bottom {
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
}
.left {
  border-right: 1px solid green;
  /* border-left: 1px solid black; */
}
.right {
  border-left: 1px solid brown;
}
.center left {
  border-left: 1px solid black;
}
