#board {
  padding-top: 3em;
  text-align: center;
  /* background-color: lightgray; */
}
.row > div {
  float: left;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.row {
  clear: both;
  margin: auto;
  width: 302px;
  font-size: 6em;
}
.top {
  border-bottom: 1px solid red;
  }
.bottom {
  border-top: 1px solid black;
  }
.left {
  border-right: 1px solid green;
  /* border-left: 1px solid black; */
}
.right {
  border-left: 1px solid brown;
}
.center left {
  border-left: 1px solid black;
}
.senter {
  position: absolute;
  top: 60%;
  left: 43.5%;
}